<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/bookmark.css">
		<title>help</title>
	</head>
	<body>
		<ul id="menu">
		<li><a href="top.erb">TOP</a></li>
		<li><a href="index.erb">HOME</a></li>
		<li><a href="search.erb">取り込む</a></li>
		<li><a href="help.erb">HELP</a></li>
		<li><a href="form.erb">アンケート</a></li>
		</ul>
		<table calss="aaa">
			<tr>
				<th class="a">
				</th>
				<th class="b">
				</th>
			</tr>
		</table>
	</body>
</html>

